.show-nav.side-nav {
    visibility: visible;
    left: 0;
}

.image-shadow1,
.image-shadow2,
.image-shadow3,
.image-shadow4 {
    box-shadow: 7px 1px 0.1px;
}

.image-shadow1 {
    box-shadow: 7px 1px 0.1px #666f36;
}

.image-shadow2 {
    box-shadow: 7px 1px 0.1px #af9ce2;
}

.image-shadow3 {
    box-shadow: 7px 1px 0.1px #d42358;
}

.image-shadow4 {
    box-shadow: 7px 1px 0.1px #264178;
}

.modal-cont {
    transition: all 300ms ease;
    visibility: hidden;
    z-index: -10000;
}

.modal-cont.show-modal {
    visibility: visible;
    z-index: 100000;
}

@media screen and (max-width: 500px) {
    .side-nav {
        backdrop-filter: blur(30px);
    }
}
